extends layout


block content
  .header.row
    .header-overlay
      .col-md-6.col-md-offset-1.header-text
        h2.light-blue Conrad Eye Centers is Kentuckiana’s
        h2.light-blue one-stop-shop for all your eye care needs.
        ul
          li
            a.btn.btn-primary(href="#" role='button') Schedule Appointment
          li
            a.btn.btn-default(href="#" role='button') Random
  .row.divider.dark-blue-bkg
    .col-md-12
  .row.services.light-blue-bkg
    .col-md-12
      h2 Services we offer
  .row.services.light-blue-bkg
    .col-md-2
      a(href="/services/vision-exam")
        img(src='../images/eye-exam.png' alt='vision exam icon')
      h4 Vision Exam
    .col-md-2
      a(href="#")
        img(src='../images/medical-exam.png' alt='eye exam icon')
      h4 Medical Exam
    .col-md-2
      a(href="#")
        img(src='../images/glasses.png' alt='eye glass icon')
      h4 Glasses and Contacts
    .col-md-2
      a(href="#")
        img(src='../images/lasik.png' alt='lasik icon')
      h4 Lasik
    .col-md-2
      a(href="#")
        img(src='../images/cataract.png' alt='cataract icon')
      h4 Cataracts
    .col-md-2
      a(href="#")
        img(src='../images/surgery.png' alt='surgery icon')
      h4 Surgery
  .row.services.light-blue-bkg
    .col-md-2
      a(href="#")
        img(src='../images/pediatrics.png' alt='pediatrics icon')
      h4 Pediatrics
    .col-md-2
      h4 Cosmetics
    .col-md-2
      a(href="#")
        img(src='../images/insurance.png' alt='insurance icon')
      h4 Insurance Network
  .row.divider.gold-bkg
    .col-md-12
  .row.difference.very-light-gold-bkg
    .col-md-12
      h2.dark-blue Ophthamologist or Optomitrist: What's the difference?
  .row.very-light-gold-bkg
    .col-md-6
      h3.blue Ophthamologist
      p.light-blue  An ophthalmologist is a medical or osteopathic doctor who specializes in eye and vision care. Ophthalmologists differ from optometrists and opticians in their levels of training and in what they can diagnose and treat. As a medical doctor who has completed college and at least eight years of additional medical training, an ophthalmologist is licensed to practice medicine and surgery. An ophthalmologist diagnoses and treats all eye diseases, performs eye surgery and prescribes and fits eyeglasses and contact lenses to correct vision problems. Many ophthalmologists are also involved in scientific research on the causes and cures for eye diseases and vision disorders.*
    .col-md-6.very-light-gold-bkg
      h3.blue Optomitrist
      p.light-blue Optometrists are healthcare professionals who provide primary vision care ranging from sight testing and correction to the diagnosis, treatment, and management of vision changes. An optometrist is not a medical doctor. An optometrist receives a doctor of optometry (OD) degree after completing four years of optometry school, preceded by three years or more years of college. They are licensed to practice optometry, which primarily involves performing eye exams and vision tests, prescribing and dispensing corrective lenses, detecting certain eye abnormalities, and prescribing medications for certain eye diseases.*
    .col-md-12.very-light-gold-bkg
      table.table.table-striped-lte-gold
        tr
          th.
          th Ophthamologist
          th Optometersts
        tr
          th Optometry school: Optometry schools do not uniformly require a bachelor’s degree for entry into optometry school.
          td 
          td X
        tr
          th four-year optometry curriculum includes contact lenses, optics, vision sciences, sensory processing, vision therapy, practice management, and courses related to basic medical sciences and eye diseases.
          td 
          td X
        tr
          th Medical school: bachelor’s degree and Medical College Admissions Test
          td X
          td
        tr
          th The four-year medical school curriculum focuses on fundamental principles of medicine and its underlying scientific concepts.
          td X
          td
        tr
          th Participate in two years of patient care rotations through different specialties and must complete a full year of general medical, pediatric, or surgical internship.
          td X
          td
        tr
          th Accreditation criteria for minimum requirements covering outpatient visits with a broad range of disease presentation, assist at and then personally perform various surgical procedures and systemic disease consultation during residency training.
          td X
          td
        tr
          th 
          td

      
